body {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: black;
    /* background-image: url(../img/tree.jpg); */
    /* no-repeat center center */
    background-size: auto;

}

.message {
    margin: 10px auto;
    width: 325px;
}

.input_p {
    line-height: 10px;
}

h2 {
    font-size: 15px;
}
