input {
    border: 1px;
    border-color: black;
    border-style: solid;
}

.imagebutton {
    border: solid;
    border-color: black;
    border-width: 10px;
}

.imagebutton2 {
    border: solid;
    border-color: black;
    border-width: 5px;
}

.border-test {
    height: 300px;
    width: 300px;
    mergin: 0 auto;
    background-color: orange;
    border: 10px solid;
    border-color: black;
}

.submit input {
    border-color: red;
    border-style: solid;
}

button {
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 0 0;
    /* border: 3px solid red; */
}

button:active {
    background-color: green;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.imagebottun2:checked {
    border: 10px;
    border-color: black;
    border-style: solid;
}