body {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic'
}

h1:first-letter {
    font-size: 2.5em;
    color: #f32f49;

}


h1 {
    text-align: center;
    position: relative;
    line-height: 1.8;
    -webkit-box-reflect: below -95px -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.6));
}


body {
    background-color: #fff;
    text-align: center
}

.catch {
    text-align: center;

}

.catch {
    display: inline-block;
    position: relative;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    -webkit-transform: rotate(-10deg) skew(-17deg, 4deg);
    transform: rotate(-10deg) skew(-17deg, 4deg);
}

.catch:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f385a6;
    bottom: -7px;
    left: -15px;
    z-index: -2;
}

.catch:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f385a6;
    bottom: -10px;
    right: -25px;
    z-index: -2;
}

.catch h3 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 20px;
    line-height: 45px;
    font-size: 18px;
    color: white;
    background: #f385a6;
}

.catch h3:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 7px transparent;
    border-right: solid 25px #f385a6;
}

.catch h3:after {
    position: absolute;
    content: '';
    top: 100%;
    right: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-left: solid 15px #f385a6;
}