body {
    text-align: center;
}

.a {
    text-align: center;
}

@media screen and (min-width: 700px) {
    .br-sp {
        display: none;
    }
}

.exposition1 p {
    font-size: 20px;
}

.exposition2 {
    margin-top: 50px;
}

.container {
    font-size: 20px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

input.button8 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button8 {
    display: inline-block;
    border-radius: 5%;
    /* 角丸       */
    font-size: 18pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 12px 12px;
    /* 余白       */
    background: orangered;
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666;
    /* 影の設定 */
    border: 2px solid orangered;
    /* 枠の指定 */
}

.button8:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: orangered;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}

section {
    max-width: 300px;
    margin: 0 auto;
}

.radio {
    display: none;
}

.radio_image {
    height: 300px;
    width: 300px;
    margin: 10px 20px;
    border-radius: 10%;
    cursor: pointer;
}

.radio+.radio_image {
    border: 3px #ffffff solid;
    background-color: #ffffff;
}

.radio:checked+.radio_image {
    border: 3px #ff0000 solid;
    background-color: #ffeeee;
}

.step {
    height: 300px;
    width: auto;
    margin: 0 auto;
    background-color: lightyellow;
    text-align: center;
}

/* 戻るボタン */
.back_button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 5%;
    /* 角丸       */
    font-size: 18pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 12px 12px;
    /* 余白       */
    background: springgreen;
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666;
    /* 影の設定 */
    border: 2px solid springgreen;
    /* 枠の指定 */
}

/* 戻るボタンの上にマウスカーソルが来た時の表示 */
.back_button:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: springgreen;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}

/* 戻るボタンと決定ボタンに間にある見えないボタン */
.invisible_button {
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 5%;
    /* 角丸       */
    padding: 12px 12px;
    /* 余白       */
    line-height: 1em;
    /* 1行の高さ  */
    font-size: 18pt;
    /* 文字サイズ */
}

/* 選択された画像が入る横一列のライン */
.selected_images_line {
    height: 160px;
    width: auto;
    background-color: lightyellow;
}

/* 選択された画像 */
.selected_images_line .selected_image {
    height: 100px;
    width: 100px;
}