body {
    text-align: center;
    /* background-image: url(../img/woody.jpeg); */
    width: 100%;
    border: 20px solid orangered;
    /* 枠線 */
    box-sizing: border-box;
    margin-top: 20px;
}

img {
    height: 300px;
    width: 300px;
    margin: 10px 20px;
    border-radius: 10%;
}

.catch {
    font-size: 50px;
}

p.name {
    font-size: 35px;
}

.download {
    height: 50px;
    width: 50px;
    margin-bottom: -20px;
}