<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <div class="logo">
        <h2>らくらくビジョンボード</h2>
        </div>
    
        <div class="catch" >
            <h2>    404 NOT FOUND
                お探しのページが見つかりません。<br>
            URLに誤りがあるか、お探しのページは移動もしくは削除された可能性があります。</h2>
        </div>
    
        <div class="images" ></div>
        <img src="../static/img/美上ボード１.png" alt="ビジョンボード１" width="200" height="200">
        <br>
        <br>
        <a href="/">トップページへ</a>
    </center>
        </div>
    

    


    
</body>
</html>