<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aboutpage.css">
    <title>Document</title>
</head>
<body>



<div class="background">
    <br>
<div class="exposition1">
        <h1>夢を叶えるために</h1>
        <p><font color="orangered"><b>ビジョンボードはあなたの夢を視覚化してくれるツールです。</b></font></p>
        <p><font color="orangered"><b>眺めていると、叶えたい夢がはっきりイメージでき、不思議と叶っていくよ</b></font></p>
    </div>
    <div class="exposition2"></div>
        <h2>～ビジョンボードの作り方・使い方～</h2>

<div class="box17">
        
    <div class="container">

        <p>●自分の人生がどうなってほしいのかを意識的に想像する<br>
            一般的には「ほしいものリスト」「やりたいことリスト」をたくさん書き出すよ
            <br>（このらくらくビジョンボードではあとで出てくる写真を選ぶ＆並べる作業をやってくれるよ）</p>  
        <!-- <br> -->
        <p>●考えたことのうちから、今年ぜひ叶えたい夢を厳選しよう<br>
            夢を絞ることでエネルギーを集中してそそぐんだ。
            <br>（このらくらくビジョンボードでは７つのカテゴリーの夢が用意されているよ）</p>
        <!-- <br> -->
        <p>●選んだ夢に近いイメージの写真を選ぼう<br>
            選びながら、叶ったときのことをニヤニヤ想像するのがコツだよ。
            <abr>（このらくらくビジョンボードでは次へと進むことで７つのカテゴリーを選択するよ）</p>

        <p>●さぁ。選んだ写真が並んだ。これがビジョンボードだよ。<br>
            自分で作成したビジョンボードにはあなたの夢が凝縮されているよ。
<br>
        <p style="text-align:center" ><font color="orangered"><b>1日３分以上眺めて、叶った時のことを想像してワクワクする気持ちを感じよう。</b></font></p>
        <p style="text-align:center" ><font color="orangered"><b>これ大事。</b></font></p>
        </p>
        <br>
    </div>
</div>
<a href="/">top pageへもどる</a>

<br>

</div></div>
</body>
</html>