<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/imagetest2.css">
    <title>Document</title>
</head>
<body>

<h1>画像ラジオボタン</h1>

HTML
<form action="imagetest3" method="POST">
<label><input type="radio" name="q2" value="1" class="radio"><img src="../static/img/kate-images/kate1-money/1.jpg" width="300px" heigth="300px" class="radio_image"></label>
<label><input type="radio" name="q2" value="2" class="radio"><img src="../static/img/kate-images/kate1-money/2.jpg" width="300px" heigth="300px" class="radio_image"></label>
<label><input type="radio" name="q2" value="3" class="radio"><img src="../static/img/kate-images/kate1-money/3.jpg" width="300px" heigth="300px" class="radio_image"></label>
<label><input type="radio" name="q2" value="4" class="radio"><img src="../static/img/kate-images/kate1-money/4.jpg" width="300px" heigth="300px" class="radio_image"></label>
<label><input type="radio" name="q2" value="4" class="radio"><img src="../static/img/kate-images/kate1-money/5.jpg" width="300px" heigth="300px" class="radio_image"></label>
<label><input type="radio" name="q2" value="4" class="radio"><img src="../static/img/kate-images/kate1-money/6.jpg" width="300px" heigth="300px" class="radio_image"></label>

<input type="submit" value="送信">

</form>

<img src="{{ url2 }}">

<h1>(id=name数字)をPythonでintにできるか</h1>

<form action="inttest" method="POST">
    <label><input type="radio" name="1" value="1" class="radio"><img src="../static/img/kate-images/kate1-money/1.jpg" width="300px" heigth="300px" class="radio_image"></label>
    <label><input type="radio" name="2" value="2" class="radio"><img src="../static/img/kate-images/kate1-money/2.jpg" width="300px" heigth="300px" class="radio_image"></label>
    <label><input type="radio" name="3" value="3" class="radio"><img src="../static/img/kate-images/kate1-money/3.jpg" width="300px" heigth="300px" class="radio_image"></label>
    <label><input type="radio" name="4" value="4" class="radio"><img src="../static/img/kate-images/kate1-money/4.jpg" width="300px" heigth="300px" class="radio_image"></label>
    <label><input type="radio" name="5" value="4" class="radio"><img src="../static/img/kate-images/kate1-money/5.jpg" width="300px" heigth="300px" class="radio_image"></label>
    <label><input type="radio" name="6" value="4" class="radio"><img src="../static/img/kate-images/kate1-money/6.jpg" width="300px" heigth="300px" class="radio_image"></label>
    
    <input type="submit" value="送信">
    
    </form>

    {{ return_int }}


</body>
</html>