<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/step.css" media="screen and (min-width:700px)">
    <link rel="stylesheet" href="../static/css/step.cp.css" media="screen and ( max-width:768px )">
    <title>Document</title>
</head>

<body>
    <div class="title">
    <img src="../static/img/step4.png" alt="STEP4 仕事・ライフワーク">
    
    <h2>～理想の仕事やライフワーク～</h2>
    </div>

    <div class="wording">
        <br>今の仕事や職場に満足しているなら<br class="br-sp">それはとても素晴らしいこと！

        <br>もしもどんな願いも叶うのなら、<br class="br-sp">今の仕事を続ける？ほかのことに挑戦したい？
        <br>副業やたとえ収入に結びつかなくとも<br class="br-sp">ライフワークとして携わるならきっと
        <br>それはあなたをとても幸せにしてくれるよ。
    </div>

    <div class="picselect" align="center">
        <img src="../static/img/select.png" alt="写真を１枚選ぼう！直感で惹かれる写真は次のうちどれ？">
    </div>


    <div class="images" align="center">
        <form action="/step5hobby.html" method="POST">
            
            <label><input type="radio" name="q4" value="1" class="radio"><img src="../static/img/kate-images/step4work/22.jpg" width="300px" heigth="300px" class="radio_image"></label>
            <label><input type="radio" name="q4" value="2" class="radio"><img src="../static/img/kate-images/step4work/23.jpg" width="300px" heigth="300px" class="radio_image"></label>
            <label><input type="radio" name="q4" value="3" class="radio"><img src="../static/img/kate-images/step4work/24.jpg" width="300px" heigth="300px" class="radio_image"></label>
            <br>
            <label><input type="radio" name="q4" value="4" class="radio"><img src="../static/img/kate-images/step4work/25.jpg" width="300px" heigth="300px" class="radio_image"></label>
            <label><input type="radio" name="q4" value="5" class="radio"><img src="../static/img/kate-images/step4work/26.jpg" width="300px" heigth="300px" class="radio_image"></label>
            <label><input type="radio" name="q4" value="6" class="radio"><img src="../static/img/kate-images/step4work/27.jpg" width="300px" heigth="300px" class="radio_image"></label>
            
            <br>
            <button type="button" class="back_button" onclick="history.back()">戻る</button>
            <button type="button" class="invisible_button">間</button>
            <input type="submit" class="button8" value="決定">  
        
        </form>
    </div>

    <p>{{ please_select }}</p>

    <div class="selected_images_line">
        <p>選んだ写真</p>
        <img src="{{ step1 }}" class="selected_image" alt="">
        <img src="{{ step2 }}" class="selected_image" alt="">
        <img src="{{ step3 }}" class="selected_image" alt="">
    </div>

</body>
</html>