<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/toppage.css" media="screen and (min-width:700px)">
    <link rel="stylesheet" href="../static/css/toppage .sp.css" media="screen and ( max-width:768px )">
    <script src="./toppage.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="logo">
    <h1>らくらくビジョンボード</h1>
    </div>

    <div class="catch">
        <p>作って！！眺めて！！夢をかなえる</p>
    </div>

    <div class="images">
    <img src="../static/img/美上ボード１.png" alt="ビジョンボード１">
    <img src="../static/img/美上ボート２.png" alt="ビジョンボード２">
    <img src="../static/img/visionBoard３.png" alt="ビジョンボート３">
    </div>

<div class="description1">
    <p>作るとき、眺めるときのワクワクな気持ちがなりたい自分を引き寄せるよ！</p>
</div>

<div class="description2">
    <p>それぞれのカテゴリーから写真を選ぶだけでらくらくにビジョンボードが完成するよ！</p>
</div>

<div class="container">
    <form action="">
        <button class="button-bop" formaction="step1money.html" type="submit">
            さっそく作ってみる！！   
        </button>

        <button class="button-bop2" formaction="aboutpage.html" type="submit">
            ビジョンボードの作り方・使い方  
        </button>
    </form>
</div>

</body>
</html>